@font-face {
    font-family: PixelFont;
    src: url(../assets/fonts/Press\ Start\ 2P\ Regular.ttf);
}

@keyframes loading {
    0% {
        content: "\00a0\00a0\00a0";
    }

    25% {
        content: ".\00a0\00a0";
    }

    50% {
        content: "..\00a0";
    }

    75% {
        content: "...";
    }
}

:root {
    --c64-bg: #40318d;
    --c64-fg: #7869c4;
    --c64-cyan: #67b6bd;
    --c64-purple: #8b3f96;
    --c64-orange: #8b5429;
    --c64-d-red: #883932;
    --c64-l-red: #b86962;
    --c64-d-yellow: #574200;
    --c64-l-yellow: #bfce72;
    --c64-d-green: #55a049;
    --c64-l-green: #94e089;
    --c64-black: #000000;
    --c64-gray-1: #505050;
    --c64-gray-2: #787878;
    --c64-gray-3: #9f9f9f;
    --c64-white: #ffffff;
}

.hidden {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
}

body {
    font-family: PixelFont;
    font-size: 16pt;
    color: var(--c64-fg);
    background-color: var(--c64-bg);
    border: 32px solid;
    padding: 8px;
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    scrollbar-width: auto;
    scrollbar-color: var(--c64-l-yellow) var(--c64-orange);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
    justify-content: center;
    height: fit-content;
    justify-self: center;
    width: 100%;
    max-width: 1200px;
}

.main__task_span-col-2 {
    grid-column: span 2;
}

.task__name {
    margin-bottom: 8px;
}

.main__task .img-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer {
    border-top: 4px solid var(--c64-fg);
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 8px;
}

.nav__item {
    color: var(--c64-fg);
    text-decoration: none;
    border-bottom: 4px solid var(--c64-fg);
}

.nav__item::before {
    content: "{ ";
}

.nav__item::after {
    content: " }";
}

.nav__item:hover {
    color: var(--c64-cyan);
    border-color: var(--c64-cyan);
}

.nav__item_current {
    color: var(--c64-purple);
    border-color: var(--c64-purple);
    padding: 0;
}

.h-ruler {
    border: none;
    border-top: 4px solid var(--c64-fg);
    height: 8px;
}

.header__name {
    font-size: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.header__name::before {
    content: "*** ";
}

.header__name::after {
    content: " ***";
}

.task__name {
    font-size: 100%;
}

.task__name::before {
    content: "> ";
}

.labeled-input {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 3fr;
    column-gap: 16px;
}

.labeled-input_1-to-1 {
    grid-template-columns: 1fr 1fr;
}

.labeled-input_2-to-3 {
    grid-template-columns: 2fr 3fr;
}

.labeled-input_3-to-2 {
    grid-template-columns: 3fr 2fr;
}

.labeled-input_auto {
    grid-template-columns: auto 1fr;
}

.labeled-input_vertical {
    grid-template-columns: 1fr;
}

.labeled-input__label_break-all {
    word-break: break-all;
}

.labeled-input__text-input {
    color: var(--c64-fg);
    border: none;
    background: none;
    outline: none;
    padding: 2px;
    padding-bottom: 2px;
    margin: 0;
    box-shadow: none;
    border-bottom: 4px solid var(--c64-fg);
    width: 100%;
    caret-color: var(--c64-cyan);
}

.labeled-input__text-input:focus {
    color: var(--c64-cyan);
    border-color: var(--c64-cyan);
}

.labeled-input__text-input::placeholder {
    color: var(--c64-purple);
}

.labeled-input__text-input:focus::placeholder {
    color: var(--c64-cyan);
    opacity: 50%;
}

.labeled-input__text-input:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    border-color: var(--c64-gray-1);
    cursor: default;
}

.text-area {
    resize: none;
    color: var(--c64-fg);
    background-color: var(--c64-bg);
    background-image: url(../assets/images/pattern/dither_1.png);
    background-blend-mode: multiply;
    image-rendering: pixelated;
    outline: none;
    padding: 4px;
    margin: 0;
    border: 0;
    width: 100%;
    caret-color: var(--c64-cyan);
}

.text-area:focus {
    color: var(--c64-cyan);
}

.text-area::placeholder {
    color: var(--c64-bg);
}

.text-area:focus::placeholder {
    opacity: 33%;
}

.text-area:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    cursor: not-allowed;
}

.text-area:read-only {
    cursor: default;
}

.text-area_game-log {
    font-size: 10pt;
    height: 200px;
    color: var(--c64-white);
    background-color: var(--c64-black);
}

.text-area_game-log:focus {
    color: var(--c64-white);
}

.text-area_answer {
    color: var(--c64-l-yellow);
    border: var(--c64-l-yellow) 4px solid;
    background-color: var(--c64-d-yellow);
}

.text-area_answer:focus {
    color: var(--c64-l-yellow);
}

.interaction-form * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.submit-btn {
    background-color: transparent;
    color: var(--c64-fg);
    border: 4px solid var(--c64-fg);
    width: 100%;
    padding: 8px;
}

.submit-btn:hover {
    color: var(--c64-bg);
    background-color: var(--c64-cyan);
    border-color: var(--c64-cyan);
    cursor: pointer;
}

.submit-btn:active {
    color: var(--c64-l-yellow);
    background-color: var(--c64-orange);
    border-color: var(--c64-orange);
}

.submit-btn:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    border-color: var(--c64-black);
    cursor: default;
}

.error {
    color: var(--c64-black);
    background-color: var(--c64-d-red);
    text-align: center;
    width: 100%;
}

.error_inverted {
    color: var(--c64-d-red);
    background-color: var(--c64-black);
}

.error_with-border {
    border: 4px solid var(--c64-black);
}

.error_inverted.error_with-border {
    border: 4px solid var(--c64-d-red);
}

.parameters {
    margin: 16px 0 16px 0;
}

.parameters_dimmed {
    opacity: 0.5;
}

.answer {
    color: var(--c64-l-yellow);
    font-weight: bold;
}

.blinker {
    align-self: flex-end;
}

.img-wrapper {
    display: flex;
}

.img-wrapper_centered {
    justify-content: center;
}

.img-wrapper_fit {
    width: fit-content;
}

.img-wrapper_presentation {
    background-color: var(--c64-black);
}

.img-effect {
    position: relative;
    display: inline-block;
}

.img-effect_dithering::after {
    content: '';
    position: absolute;
    isolation: isolate;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/pattern/bayer_4.png);
    mix-blend-mode: overlay;
    pointer-events: none;
}

.img {
    image-rendering: pixelated;
    object-fit: contain;
}

.img_game-stage {
    height: 400px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 32px;
    justify-content: center;
}

.product {
    border: var(--c64-fg) 4px solid;
    background-color: var(--c64-bg);
    background-image: url(../assets/images/pattern/diagonal.png);
    background-blend-mode: multiply;
    image-rendering: pixelated;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
    height: fit-content;
}

.product__title {
    color: var(--c64-l-yellow);
}

.product__title::before {
    content: "@";
}

.product__stats {
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

.product__description {
    font-size: 0.5rem;
}

.product__description::before {
    content: "-";
}

.img_product-thumbnail {
    height: 320px;
    transform: scale(0.75);
    filter: drop-shadow(0 0 4px var(--c64-white)) contrast(150%);
    transition: transform 0.3s cubic-bezier(0.23, -0.64, 0, 1.58);
}

.img-effect_product {
    background-image: linear-gradient(var(--c64-black), var(--c64-bg));
    border: var(--c64-fg) 4px solid;
}

.product:hover {
    border-color: var(--c64-white);
    background-color: var(--c64-l-yellow);
    background-image: none;
    color: var(--c64-white);
}

.product:hover .product__title {
    color: var(--c64-white);
}

.product:hover .h-ruler {
    border-color: var(--c64-white);
}

.product:hover .img_product-thumbnail {
    filter: drop-shadow(0 0 16px var(--c64-cyan)) contrast(200%);
}

.product:hover .img-effect_product {
    background-image: linear-gradient(var(--c64-black), var(--c64-purple));
    border-color: var(--c64-white);
}

.product:hover .img_product-thumbnail {
    transform: scale(1);
}

.reviews {
    display: flex;
    row-gap: 32px;
    flex-direction: column;
}

.reviews__review {
    border: var(--c64-l-yellow) 2px solid;
    padding: 4px;
    font-size: 0.75rem;
    background-color: var(--c64-d-yellow);
    color: var(--c64-l-yellow);
}

.text-area_review-comment {
    background-color: var(--c64-d-yellow);
    color: var(--c64-l-yellow);
    background-image: url(/assets/images/pattern/dither_2.png);
}

.loading {
    text-align: center;
}

.loading__animation::after {
    content: "\00a0\00a0\00a0";
    animation: loading .75s linear infinite;
}

@media (max-width: 1200px) {
    .nav {
        grid-template-columns: 1fr;
    }

    .main {
        grid-template-columns: 1fr;
        max-width: 600px;
    }

    .text-area_game-log {
        font-size: 8pt;
    }

    .product-list {
        grid-template-columns: 1fr 1fr;
    }

    .product__stats {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-width: 800px) {
    body {
        border-width: 16px;
        font-size: 10pt;
    }

    .header {
        word-break: break-all;
    }

    .header__name::before {
        content: "<";
    }

    .header__name::after {
        content: ">";
    }

    .labeled-input {
        grid-template-columns: 1fr;
    }

    .labeled-input__label {
        word-break: break-all;
    }

    .text-area_game-log {
        font-size: 6pt;
    }

    .img-wrapper__img_game-stage {
        height: 250px;
    }

    .product-list {
        grid-template-columns: 1fr;
    }

    .img_product-thumbnail {
        height: 256px;
    }
}