@font-face {
    font-family: PixelFont;
    src: url(../assets/fonts/Press\ Start\ 2P\ Regular.ttf);
}

:root {
    --c64-bg: #50459b;
    --c64-fg: #887ecb;
    --c64-cyan: #6abfc6;
    --c64-purple: #a057a3;
    --c64-orange: #a1683c;
    --c64-d-red: #9f4e44;
    --c64-l-red: #cb7e75;
    --c64-d-yellow: #6d5412;
    --c64-l-yellow: #c9d487;
    --c64-d-green: #5cab5e;
    --c64-l-green: #9ae29b;
    --c64-black: #06060d;
    --c64-gray-1: #626262;
    --c64-gray-2: #898989;
    --c64-gray-3: #adadad;
    --c64-white: #ffffff;
}

.hidden {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
}

body {
    font-family: PixelFont;
    font-size: 16pt;
    color: var(--c64-fg);
    background-color: var(--c64-bg);
    border: 32px solid;
    padding: 8px;
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    scrollbar-width: auto;
    scrollbar-color: var(--c64-l-yellow) var(--c64-orange);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
    justify-content: center;
    height: fit-content;
    justify-self: center;
    width: 100%;
    max-width: 1200px;
}

.main__task {
    overflow: hidden;
}

.main__task_span-col-2 {
    grid-column: span 2;
}

.footer {
    border-top: 4px solid var(--c64-fg);
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.nav__item {
    color: var(--c64-fg);
    text-decoration: none;
    border-bottom: 4px solid var(--c64-fg);
}

.nav__item::before {
    content: "{ ";
}

.nav__item::after {
    content: " }";
}

.nav__item:hover {
    color: var(--c64-cyan);
    border-color: var(--c64-cyan);
}

.nav__item_current {
    color: var(--c64-purple);
    border-color: var(--c64-purple);
    padding: 0;
}

.h-ruler {
    border: none;
    border-top: 4px solid var(--c64-fg);
    overflow: visible;
    text-align: center;
    height: 8px;
}

.h-ruler::after {
    background-color: var(--c64-bg);
    color: var(--c64-fg);
    content: "#";
    padding: 0 8px;
    position: relative;
    top: -12px;
}

.header__name {
    font-size: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.header__name::before {
    content: "*** ";
}

.header__name::after {
    content: " ***";
}

.task__name {
    font-size: 100%;
    margin-bottom: 16px;
}

.task__name::before {
    content: "> ";
}

.labeled-input {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 3fr;
    column-gap: 16px;
}

.labeled-input_vertical {
    grid-template-columns: 1fr;
}

.labeled-input__label_break-all {
    word-break: break-all;
}

.labeled-input__text-input {
    color: var(--c64-fg);
    border: none;
    background: none;
    outline: none;
    padding: 2px;
    padding-bottom: 2px;
    margin: 0;
    box-shadow: none;
    border-bottom: 4px solid var(--c64-fg);
    width: 100%;
    caret-color: var(--c64-cyan);
}

.labeled-input__text-input:focus {
    color: var(--c64-cyan);
    border-color: var(--c64-cyan);
}

.labeled-input__text-input::placeholder {
    color: var(--c64-purple);
}

.labeled-input__text-input:focus::placeholder {
    color: var(--c64-cyan);
    opacity: 50%;
}

.labeled-input__text-input:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    border-color: var(--c64-gray-1);
    cursor: default;
}

.text-area {
    resize: none;
    color: var(--c64-fg);
    background-color: var(--c64-black);
    opacity: 30%;
    outline: none;
    padding: 4px;
    margin: 0;
    border: 0;
    width: 100%;
    caret-color: var(--c64-cyan);
}

.text-area_game-log {
    font-size: 10pt;
    height: 200px;
}

.text-area:focus {
    color: var(--c64-cyan);
    opacity: 66%;
}

.text-area::placeholder {
    color: var(--c64-bg);
}

.text-area:focus::placeholder {
    opacity: 33%;
}

.text-area:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    cursor: default;
}

.text-area:read-only {
    color: var(--c64-white);
    background-color: var(--c64-black);
    opacity: 100%;
}

.interaction-form * {
    margin: 2px 0 2px 0;
}

.submit-btn {
    background-color: transparent;
    color: var(--c64-fg);
    border: 4px solid var(--c64-fg);
    width: 100%;
    padding: 8px;
}

.submit-btn:hover {
    color: var(--c64-bg);
    background-color: var(--c64-cyan);
    border-color: var(--c64-cyan);
    cursor: pointer;
}

.submit-btn:active {
    color: var(--c64-l-yellow);
    background-color: var(--c64-orange);
    border-color: var(--c64-orange);
}

.submit-btn:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    border-color: var(--c64-black);
    cursor: default;
}

.error {
    color: var(--c64-black);
    background-color: var(--c64-d-red);
    text-align: center;
    width: 100%;
}

.parameters {
    margin: 16px 0 16px 0;
}

.parameters_dimmed {
    opacity: 0.5;
}

.answer {
    color: var(--c64-l-yellow);
    font-weight: bold;
}

.blinker {
    align-self: flex-end;
}

.img-wrapper {
    display: flex;
    width: 100%;
}

.img-wrapper_centered {
    justify-content: center;
}

.img-wrapper_presentation {
    background-color: var(--c64-black);
}

.img-wrapper__img {
    image-rendering: pixelated;
    object-fit: contain;
}

.img-wrapper__img_game-stage {
    height: 400px;
}

@media (max-width: 1200px) {
    .nav {
        grid-template-columns: 1fr;
    }

    .main {
        grid-template-columns: 1fr;
        max-width: 600px;
    }

    .text-area_game-log {
        font-size: 8pt;
    }
}

@media (max-width: 800px) {
    body {
        border-width: 16px;
        font-size: 10pt;
    }

    .header {
        word-break: break-all;
    }

    .h-ruler::after {
        top: -9px;
    }

    .header__name::before {
        content: "<";
    }

    .header__name::after {
        content: ">";
    }

    .labeled-input {
        grid-template-columns: 1fr;
    }

    .labeled-input__label {
        word-break: break-all;
    }

    .text-area_game-log {
        font-size: 6pt;
    }

    .img-wrapper__img_game-stage {
        height: 250px;
    }
}