@font-face {
    font-family: PixelFont;
    src: url(../assets/fonts/Press\ Start\ 2P\ Regular.ttf);
}

:root {
    --c64-bg: #40318d;
    --c64-fg: #7869c4;
    --c64-cyan: #67b6bd;
    --c64-purple: #8b3f96;
    --c64-orange: #8b5429;
    --c64-d-red: #883932;
    --c64-l-red: #b86962;
    --c64-d-yellow: #574200;
    --c64-l-yellow: #bfce72;
    --c64-d-green: #55a049;
    --c64-l-green: #94e089;
    --c64-black: #000000;
    --c64-gray-1: #505050;
    --c64-gray-2: #787878;
    --c64-gray-3: #9f9f9f;
    --c64-white: #ffffff;
}

.hidden {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
}

body {
    font-family: PixelFont;
    font-size: 16pt;
    color: var(--c64-fg);
    background-color: var(--c64-bg);
    border: 32px solid;
    padding: 8px;
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    scrollbar-width: auto;
    scrollbar-color: var(--c64-l-yellow) var(--c64-orange);
}

header {
    margin-bottom: 16px;
}

footer {
    border-top: 4px solid var(--c64-fg);
    margin-top: 16px;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 8px;
}

nav a::before {
    content: "{ ";
}

nav a::after {
    content: " }";
}

hr {
    border: none;
    border-top: 4px solid var(--c64-fg);
    overflow: visible;
    text-align: center;
    height: 8px;
}

hr::after {
    background-color: var(--c64-bg);
    color: var(--c64-fg);
    content: "#";
    padding: 0 8px;
    position: relative;
    top: -12px;
}

h1 {
    font-size: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

h1::before {
    content: "*** ";
}

h1::after {
    content: " ***";
}

h2 {
    font-size: 100%;
    margin-bottom: 16px;
}

h2::before {
    content: "> ";
}

a {
    text-decoration: none;
    border-bottom: 4px solid var(--c64-fg);
}

a:hover {
    color: var(--c64-cyan);
    border-color: var(--c64-cyan);
}

a.current {
    color: var(--c64-purple);
    border-color: var(--c64-purple);
    padding: 0;
}

input {
    color: var(--c64-fg);
    border: none;
    background: none;
    outline: none;
    padding: 2px;
    padding-bottom: 2px;
    margin: 0;
    box-shadow: none;
    border-bottom: 4px solid var(--c64-fg);
    width: 100%;
    caret-color: var(--c64-cyan);
}

input:focus {
    color: var(--c64-cyan);
    border-color: var(--c64-cyan);
}

input::placeholder {
    color: var(--c64-purple);
}

input:focus::placeholder {
    color: var(--c64-cyan);
    opacity: 50%;
}

input:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    border-color: var(--c64-gray-1);
    cursor: default;
}

textarea {
    resize: none;
    color: var(--c64-fg);
    background-color: var(--c64-black);
    opacity: 30%;
    outline: none;
    padding: 4px;
    margin: 0;
    border: 0;
    width: 100%;
    caret-color: var(--c64-cyan);
}

textarea:focus {
    color: var(--c64-cyan);
    opacity: 66%;
}

textarea::placeholder {
    color: var(--c64-bg);
}

textarea:focus::placeholder {
    opacity: 33%;
}

textarea:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    cursor: not-allowed;
    opacity: 50%;
}

button {
    background-color: transparent;
    color: var(--c64-fg);
    border: 4px solid var(--c64-fg);
    width: 100%;
    padding: 8px;
}

button:hover {
    color: var(--c64-bg);
    background-color: var(--c64-cyan);
    border-color: var(--c64-cyan);
    cursor: pointer;
}

button:active {
    color: var(--c64-l-yellow);
    background-color: var(--c64-orange);
    border-color: var(--c64-orange);
}

button:disabled {
    color: var(--c64-gray-1);
    background-color: var(--c64-black);
    border-color: var(--c64-black);
    cursor: default;
}

.error {
    color: var(--c64-black);
    background-color: var(--c64-d-red);
    text-align: center;
    width: 100%;
}

.look-at-me {
    color: var(--c64-l-yellow);
    font-weight: bold;
}

.dimmed {
    opacity: 0.5;
}

#blinker {
    align-self: flex-end;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
    justify-content: center;
    height: fit-content;
    justify-self: center;
    width: 100%;
    max-width: 1200px;
}

.grid-item {
    overflow: hidden;
}

.labeled-input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 16px;
}

.input-block {
    margin: 16px 0 16px 0;
}

.input-block * {
    margin: 2px 0 2px 0;
}

.parameters-block {
    margin: 16px 0 16px 0;
}

@media (max-width: 1200px) {
    nav {
        grid-template-columns: 1fr;
    }

    .grid-container {
        grid-template-columns: 1fr;
        max-width: 600px;
    }
}

@media (max-width: 800px) {
    body {
        border-width: 16px;
        font-size: 10pt;
    }

    header {
        word-break: break-all;
    }

    hr::after {
        top: -9px;
    }

    h1::before {
        content: "<";
    }

    h1::after {
        content: ">";
    }

    .labeled-input {
        grid-template-columns: 1fr;
    }

    .labeled-input span {
        word-break: break-all;
    }
}